#!/usr/bin/env dotenv
# @file .env.example
# @brief Шаблон глобальных переменных окружения для контейнеризированной фабрики.
# @author [Твои ФИО] (твоя_почта@university.com)
# @date 2026-06-06
# @version 1.0.0
# @license MIT

# НАСТРОЙКИ СРЕДЫ ВЫПОЛНЕНИЯ
APP_ENV=development
NFS_EXPORT_PATH=/srv/nfs/share
